@import url('https://fonts.googleapis.com/css2?family=Bungee&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    font-family: "Open Sans", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    scroll-behavior: smooth;
    text-decoration: none;
}

:root {
    --ratio: 1.25;
    --text-c: #fff;
    --contrast-text: #ffffffbc;
    --bg-c: #000;
    --main-c: #ffa343;
    --text-size-xs: 0.64rem;
    --text-size-sm: 0.8rem;
    --text-size-md: 1rem;
    --text-size-lg: 1.25rem;
    --text-size-xl: 1.56rem;
    --text-size-2xl: 1.95rem;
    --text-size-3xl: 2.44rem;
    --text-size-4xl: 3.05rem;
    --text-size-5xl: 3.81rem;
    --h1-space: calc(var(--ratio)*var(--text-size-4xl));
    --p-space: calc(var(--ratio)*var(--text-size-lg));
    --XXS-gap: 0.5rem;
    --XS-gap: 0.75rem;
    --S-gap: 1rem;
    --M-gap: 1.25rem;
    --L-gap: 1.5rem;
    --XL-gap: 2rem;

}

/*
- header to paragraph use use large gap
-a bit small header to paragraph use medium gap
- paragraph to paragraph use base line gap 1rem or small gap 0.75 rem
*/
h1 {
    font-size: var(--text-size-4xl);
    line-height: var(--h1-space);
    margin-bottom: var(--XL-gap);

}

p {
    font-size: var(--text-size-md);
    line-height: var(--p-space);
    margin-bottom: var(--XS-gap);
}

button {
    padding: var(--XXS-gap);
}

body {
    background-color: var(--bg-c);
    color: var(--text-c);

}

.nav-bar {

    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 200;
    padding: var(--M-gap) var(--L-gap);
    display: flex;
    align-items: center;
    justify-content: space-around;

}

header {
    position: relative;
}

header.stick {
    backdrop-filter: blur(5px);
    z-index: 1;

}

.main-nav ul li {
    transition: all 300ms ease;
}

.left-nav h1 {
    margin: 0;
    color: var(--text-c);
}

.logo span {
    color: var(--main-c);

}

.main-nav {
    display: flex;
    transition: all 300ms ease;
}



.main-nav a {
    color: var(--text-c);
    font-weight: 500;
    font-size: var(--text-size-md);
    padding: var(--XS-gap) var(--S-gap);
    transition: all 0.3s ease-in-out;
}

.main-nav a:hover {
    color: var(--main-c);
}

.right-nav {
    display: flex;
    align-items: center;

}

.right-nav a {
    color: var(--text-c);
    margin-right: var(--XS-gap);
    transition: all 0.3s ease-in-out;
    font-size: 1.1rem;
}


.right-nav a:first-child {
    color: var(--text-c);
    padding-right: var(--S-gap);
}

.right-nav a:hover {
    color: var(--main-c);
    transform: translateY(-5px);
}

.menu {
    font-size: 25px;
    cursor: pointer;
    z-index: 10001;
    display: none;
    transition: all 300ms ease-in-out;
}

.cancel {
    font-size: 25px;
    cursor: pointer;
    z-index: 10001;
    display: none;
    transition: all 300ms ease-in-out;
}

section {
    padding: 200px 5% 2% 120px;
    transition: all 300ms ease;
}

section h2 {
    font-size: var(--text-size-2xl);
}

.home {
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0.1)), url(/images/Gemini.png);
    background-size: cover;
    background-position: bottom center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}



.home-text h2 {
    letter-spacing: var(--XXS-gap);
    text-transform: uppercase;
    color: var(--main-c);
    transition: all 300ms ease-in-out;
}

.home-text h1 {
    font-size: var(--text-size-5xl);
    transition: all 300ms ease;
}

.home-text p {
    font-weight: 300;
    letter-spacing: 2px;
    color: var(--contrast-text);
    transition: all 300ms ease;

}


.btn {
    display: inline-block;
    padding: 15px 35px;
    border: 2px solid var(--main-c);
    border-radius: 10px;
    background-color: var(--main-c);
    color: var(--bg-c);
    font-size: var(--text-size-md);
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    transform: translateX(20px);
    background-color: transparent;
    color: var(--text-c);

}

.second-section {
    padding-inline: 80px;
}

.grid-features {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    justify-content: center;
    place-items: center;
}

.img-content {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}

.img-content img {
    width: 100%;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
}

.img-content img:hover {
    transform: scale(1.1);
}

.row {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.row h4 {
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.row h4:hover {
    color: var(--main-c);
    text-shadow: 0px 0px 10px #ffecd8c0;
}

.holiday {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 50px;
}

.holiday-img {
    width: 600px;
    transition: all 300ms ease;
}

.holiday-img img {
    width: 100%;

}

.holiday-text p {
    line-height: var(--L-gap);
}

.holiday-text h5 {
    color: var(--main-c);
    letter-spacing: 4px;
    text-transform: uppercase;
    font-size: var(--text-size-lg);
}

.holiday-text h2 {
    font-size: var(--text-size-4xl);
    margin-block: var(--S-gap);
}

.holiday-text p {
    font-weight: 300;
    letter-spacing: 2px;
    color: var(--contrast-text);
}

.holiday-text span {
    color: var(--main-c);
}

.center-text h4 {
    text-align: center;
    font-size: var(--text-size-3xl);
    margin-block-end: 80px;
}

section.tour {
    padding-inline: 0;
}

.tour-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    justify-items: center;
}

.box {
    position: relative;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transition: width 300ms ease;

}

.box img {
    width: 100%;
    filter: brightness(90%);
    border-radius: 15px;
    transition: all 0.2s ease-in-out;
}

.box h4 {

    position: absolute;
    bottom: 110px;
    left: 50px;
    font-size: var(--text-size-lg);
    font-weight: 700;
}

.box h6 {
    position: absolute;
    bottom: 80px;
    left: 50px;
    font-size: var(--text-size-md);
    font-weight: 300;
}

.box img:hover {
    transform: scale(1.05);
    filter: brightness(70%);
}

.center-btn {
    margin-block-start: 50px;
    text-align: center;

}

.tour .btn:hover {
    transform: translateY(10px);
}

.culture {
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
    gap: 50px;
}

.newsletter {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}

.newsletter form {
    display: grid;
    grid-template-columns: 1fr .4fr;
    gap: 15px;
    width: 450px;
    height: 50px;
    justify-content: center;
    transition: all 200ms ease;
}

.newsletter-text h2 {
    font-size: var(--text-size-4xl);
    margin-bottom: var(--S-gap);
    transition: all 300ms ease;
}

.newsletter-text p {
    font-weight: 300;
    color: var(--contrast-text);
}

.newsletter form .email-input {
    color: var(--contrast-text);
    background-color: #212121;
    border: 0;
    padding: var(--XXS-gap);
    border-radius: 10px;
    transition: all 200ms ease;
}

.newsletter form .btn:hover {
    transform: translate(0);
    transition: all 200ms ease;
}

.footer-container {
    padding-inline: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    justify-content: space-around;
    justify-items: center;

}

.footer-container a {
    text-decoration: none;

}

.footer-box {
    display: flex;
    flex-direction: column;
}


.footer-box a {
    font-weight: 100;
    color: var(--contrast-text);
    margin-block: 3px;
    transition: all 300ms ease-in-out;
}

.footer-box .main-head {
    font-weight: 700;
    margin-block-end: 6px;
    color: var(--text-c);
}

.footer-box a:hover {
    transform: translateX(-5px);
    color: #fff;

}

.footer-box .main-head:hover {
    transform: translateX(0);
}


.footer-container .social {
    font-size: 19px;

}

.ri {
    color: var(--contrast-text);
    cursor: pointer;
    transition: all 300ms ease-in-out;
    border-radius: 50%;
}





.copyright {
    padding-block: 15px;
}

.copyright p {
    text-align: center;
    color: var(--contrast-text);
    font-weight: 100;
    font-size: var(--XS-gap);
}

.social .ri {
    margin-inline: 3px;
    background-color: #212121;
    display: inline-flex;
    height: 35px;
    width: 35px;
    justify-content: center;
    align-items: center;
}

.ri:hover {
    color: var(--bg-c);
    background-color: var(--main-c);
    transform: translateX(-5px);
}



@media (max-width:1250px) {


    .box {
        width: 350px;
        gap: 20px;

    }


    .holiday-img {

        width: 500px;
    }

    .holiday-img img {

        width: 100%;
    }
}

@media (max-width:1075px) {
    .img-content {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }

    .img-content img {
        width: 100%;
        border-radius: 50%;
    }

    .box {
        width: 300px;
        gap: 20px;
        margin-block-start: 50px;
    }

    .newsletter-text h2 {
        font-size: var(--text-size-3xl);
        margin-bottom: var(--S-gap);
    }

    .newsletter-text p {
        font-weight: 300;
        color: var(--contrast-text);
    }

    .culture .holiday-img {
        width: 400px;
    }

    .holiday .holiday-img {
        width: 400px;
    }

    .holiday .holiday-text h2 {
        font-size: var(--text-size-3xl);
        margin-block: var(--XS-gap);
    }


    .holiday-text p {
        font-weight: 300;
        letter-spacing: 2px;
        color: var(--contrast-text);
        font-size: 15px;
    }

    .culture .holiday-text h5 {
        font-size: var(--text-size-md);
    }

    .culture .holiday-text h2 {
        font-size: var(--text-size-3xl);
        margin-block: var(--XS-gap);
    }


    .holiday-text p {
        font-weight: 300;
        letter-spacing: 2px;
        color: var(--contrast-text);
        font-size: 15px;
    }

    .culture.holiday-text h5 {
        font-size: var(--text-size-md);
    }
}

@media (max-width:993px) {

    ul.main-nav {
        transform: translateX(150%);
    }
}

@media (max-width:985px) {
    .newsletter {
        gap: 10px;
    }

    .newsletter form {
        width: 380px;

    }

    .newsletter form input {
        font-size: 14px;
    }

    .newsletter-text h2 {
        text-align: center;
        font-size: var(--text-size-2xl);
    }

    .newsletter-text p {
        font-size: 14px;
    }


    ul.main-nav {
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(32px);
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 30px;

        justify-content: center;
        align-items: center;
        z-index: 10001;
    }

    .main-nav a {
        font-size: var(--text-size-lg);
    }

    .menu {
        display: inline-block;
    }



    .nav-bar .right-nav {
        margin-left: auto;
    }

    ul.slide-show {
        transform: translateX(0);


    }



    .main-nav {
        margin-inline-end: 40px;
    }

    .menu-disappear {
        display: none;
    }

    .cancel-appear {
        display: inline-block;
    }

    body.no-overflow {
        overflow: hidden;
    }

    .box {
        width: 230px;

    }

    .holiday .holiday-img {
        width: 370px;

    }

    .culture .holiday-img {
        width: 400px;
    }


    .holiday .holiday-text h2 {
        font-size: var(--text-size-2xl);
        margin-block: var(--XS-gap);
    }


    .holiday-text p {
        font-weight: 300;
        letter-spacing: 2px;
        color: var(--contrast-text);
        font-size: 15px;
    }

    .culture .holiday-text h5 {
        font-size: var(--text-size-sm);
    }

    .culture .holiday-text h2 {
        font-size: var(--text-size-2xl);
        margin-block: var(--XS-gap);
    }


    .holiday-text p {
        font-weight: 300;
        letter-spacing: 2px;
        color: var(--contrast-text);
        font-size: 15px;
    }

    .culture.holiday-text h5 {
        font-size: var(--text-size-sm);
    }

    section.holiday {
        padding-left: 80px;

    }

    .holiday {}

    section.culture {
        padding-left: 80px;
    }

}

@media (max-width:850px) {
    section {
        padding: 50px 5% 2% 120px;

    }

    .holiday {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
        justify-items: center;

    }



    .culture {
        gap: 0;
        grid-template-columns: auto;
        grid-template-rows: auto 1fr;
        justify-items: center;
        align-content: center;
        gap: 50px;
    }

    .holiday .holiday-img {
        width: 500px;

    }

    .culture .holiday-img {
        width: 500px;
    }

    .newsletter {
        grid-template-columns: auto;
        grid-template-rows: repeat(2, 1fr);
    }
}

@media (max-width:780px) {
    .tour-content {
        grid-template-columns: auto;
        grid-template-rows: repeat(3, 1fr);
    }

    .box {
        width: 420px;
    }

    .newsletter form {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        justify-content: center;
        justify-items: center;
        align-content: center;
    }

    .newsletter form .email-input {
        height: 50px;
    }

    .email-input {
        width: 400px;
    }


    .grid-features {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100, 1fr));
        gap: 50px;
    }

    .home-text {
        text-align: center;
    }

    .home-text h2 {
        font-size: var(--text-size-lg);
    }

    .home-text h1 {
        font-size: var(--text-size-5xl);
    }

    .home-text p {
        font-size: var(--text-size-md);

    }

    section.holiday {
        padding-inline: 75px;

    }

    .holiday-text {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }

    .holiday-text h2 {
        text-align: center;
    }



    section.tour {
        padding-inline: 75px;
    }

    section.culture {
        padding-inline: 75px;

    }

    section.newsletter {
        padding-inline: 75px;

    }

    section.home {
        padding-inline: 75px;

    }

    .holiday .holiday-img {
        width: 500px;

    }

    .culture .holiday-img {
        width: 500px;
    }

}